@model IEnumerable<AuctionHouseNew.Models.Category>

@{
    ViewBag.Title = "Category Index";
}

<h2>@ViewBag.Title</h2>

<p>
    @if (User.IsInRole("Admin"))
    {
        @Html.ActionLink("Create New", "Create")
    }
</p>

@foreach (var category in Model)
{
    <a href="@Url.Action("Details", "Categories", new {id = category.CategoryID})">
        <img src="@Url.Content(category.ImagePath)" alt="@category.Name" height="175" width="500" style="padding: 10px"/>
    </a>
}

@*Scaffolded code:
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagePath)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ImagePath)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new {id = item.CategoryID}) |
                    @Html.ActionLink("Details", "Details", new {id = item.CategoryID}) |
                    @Html.ActionLink("Delete", "Delete", new {id = item.CategoryID})
                </td>
            </tr>
        }

    </table>*@